<!DOCTYPE html>
<html>
    <head>
        <title>Premier League Season Simulator</title>
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        >
        <link
        rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}"
        >
    </head>
    <body>
    <main class="container">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('results') }}">Results</a></li>
            </ul>
        </nav>
            {% block content %}
            {% endblock %}
            <script src="{{ url_for('static', filename='script.js') }}"></script>
    </main>
    </body>
</html>
