<!DOCTYPE html>
<html>
    <head>
        <title>Premier League Season Simulator</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <nav class="navbar">
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('results') }}">Results</a></li>

                <li class="dropdown-item">
                    <span>Teams ▾</span>

                    <ul class="dropdown-menu">
                        {% for team in teams_copy %}
                            <li>
                                <a href="{{ url_for('team', team_name=team['name']) }}">
                                    {{ team['name'] }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </nav>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
