{% extends "base.html" %}

{% block content %}

<h1>Premier League Table {{ matchweek }}</h1>

<table>
    {% for team in standings %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ team["name"] }}</td>
            <td>{{ team["points"] }}</td>
            <td>{{ team["wins"] }}</td>
            <td>{{ team["losses"] }}</td>
            <td>{{ team["draws"] }}</td>
            <td>{{ team["goals_forced"] }}</td>
            <td>{{ team["goals_acceded"] }}</td>
            <td>{{ team["goal_difference"] }}</td>
        </tr>
    {% endfor %}
</table>

<h2>Results for Matchweek {{ matchweek }}</h2>
{% for result in recent_results %}
    <p>{{ result["home_team"] }} {{ result["home_score"] }} - {{ result["away_score"] }} {{ result["away_team"] }}</p>
{% endfor %}

{% endblock %}